/*-----------------
        RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------
        HEADER
-------------------*/
header{
    background-image: url(/img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

#discord{
    margin-top: 10px;
}

.flexbox{
    gap: 10%;
}

.list{
    gap: 60px;
}

.flexbox, .list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

p{
    text-align: center;
    margin-bottom: 10%;
}

.log{
    text-align: right;
    
}
/*-----------------
        MAIN
-------------------*/
.sect1{
    padding: 70px 0;
}

h1, h2, h3, h4, h5{
    margin-bottom: 5%;
}

.samesect{
    height: 300px;
    padding: 20px 0;
    display: flex;
    justify-items: center;
}

.window1{
    width: 60%;
    margin: auto;
}
.windows1{
    height: 100%;
    width: 20%;
}

.windows2{
    max-width: 10%;
    text-align: left;
}

.flex{
    display: flex;
    justify-content: center;
}

.grey{
    background-color: lightgray;
}

.frog{
    background-image: url(/img/item1.svg);
    background-size: contain;
    background-repeat:no-repeat;
}

.wizard{
    background-image: url(/img/item2.svg);
    background-size: contain;
    background-repeat:no-repeat;
}

.slottie{
    background-image: url(/img/item3.svg);
    background-size: contain;
    background-repeat:no-repeat;
}
.bigwindow{
    width: 24%;
    height: 100%;
    margin: auto;
    background-color: green;
}

.sect3{
    height: 300px;
    padding: 20px 0;
}
/*-----------------
        FOOTER
-------------------*/
.five{
    background-color: black;
    height: 300px;
    padding: 5px 200px 20px 200px;
    border-bottom: 1px solid white;
}

.box{
    height: 100%;
    width: 5%;
    border: 1px dashed white;
}

.salmonbox{
    background-color: salmon;
    width: 10%;
}

.water{
    background-color: lightgreen;
    
}

footer{
    background-color: black;
    padding-top: 10px;
}

.foot{
    width: 24%;
    height: 50%;
    background-color: lightseagreen;
    padding: 10px 0;
    justify-content: space-between;
}

.pink{
    background-color: pink;
}